@charset "utf-8";

/* 폰트 */
/* 전주완판본 각체 */
@font-face {
  font-family: "Jeonju_gakR";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2102-01@1.0/Jeonju_gakR.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
/* 리디 바탕 */
@font-face {
  font-family: "RIDIBatang";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

/* 변수지정 */
:root {
  --widthD: 1000px;
  --widthM: 660px;

  /* 색상코드*/
  --black: #0d0d0d;
  --grey: #808080;
  --white: #ccc;
  --red: #ba0001;
  --Wyellow: #ded6b5;
}

body {
  background-color: var(--black);
}

/* #wrap */
#wrap {
  min-width: var(--widthD);
  margin: 0 auto;
}

@media screen and (max-width: 670px) {
  #wrap {
    min-width: 100%;
  }
}

/* nav aside */

@media screen and (max-width: 670px) {
  header {
    display: none;
  }
}

header > nav {
  position: fixed;
  right: 2%;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 1000;
}

.gnb > li {
  margin: 10px 0;
}

.gnb > li.on > a {
  background-color: #ca171e;
  box-sizing: border-box;
  border-radius: 50%;
}

.gnb > li > a {
  display: block;
  width: 12px;
  height: 12px;
  text-indent: -99999px;
  border: 1px solid #f2f2f2;
  box-sizing: border-box;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
}

/* #home */

#home {
  min-width: var(--widthD);
  height: 100vh;

  display: grid;
  align-content: center;
}

@media screen and (max-width: 670px) {
  #home {
    min-width: 100%;
  }
}

.home__video {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 670px) {
  .home__video {
    display: none;
  }
}

.home__video > video {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home__img {
  display: none;
}

@media screen and (max-width: 670px) {
  .home__img {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.home__img > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* #about */

#about {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: var(--widthD);
  height: 100vh;
}

@media screen and (max-width: 670px) {
  #about {
    min-width: 100%;
  }
}

#about > .intro {
  width: var(--widthD);
  margin: 0 auto;
}

@media screen and (max-width: 670px) {
  #about > .intro {
    width: 100%;
    padding: 0 20px;
  }
}

.intro > h2 {
  padding: 10px 0;
  font-size: 1.8rem;
  line-height: 2rem;
  text-align: center;
  font-family: "Jeonju_gakR";
}

.intro > h2 > br {
  display: none;
}

@media screen and (max-width: 670px) {
  .intro > h2 {
    font-size: 1.6rem;
  }

  .intro > h2 > br {
    display: block;
  }
}

.intro > p {
  font-size: 0.8rem;
  line-height: 1rem;
  text-align: center;
  font-family: "RIDIBatang";
}
@media screen and (max-width: 670px) {
  .intro > p {
    font-size: 1rem;
    line-height: 1.4em;
  }
  .intro > p > br {
    display: none;
  }
}
/* #stillcut */
#stillcut {
  min-width: var(--widthD);
}
@media screen and (max-width: 670px) {
  #stillcut {
    min-width: 100%;
  }
}

/* 스와이퍼 */

#stillcut > .swiper-1 {
  width: calc(var(--widthD) * 0.8);
  height: 60vh;
  margin: 0 auto;
}
@media screen and (max-width: 670px) {
  #stillcut > .swiper-1 {
    width: 100%;
    height: initial;
    transform: rotate(90deg);
  }
}
.swiper-1 > .swiper-wrapper {
  width: 100%;
  height: 100%;
}

.swiper-1 > .swiper-wrapper > .swiper-slide {
  width: 100%;
  height: 100%;
}

.swiper-1 > .swiper-wrapper > .swiper-slide > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* #character */

#character {
  min-width: var(--widthD);
  height: 100vh;

  display: grid;
  align-content: center;
}
@media screen and (max-width: 670px) {
  #character {
    min-width: 100%;
  }
}

#character > .swiper-2 {
  width: var(--widthD);
  margin: 0 auto;
}

@media screen and (max-width: 670px) {
  #character > .swiper-2 {
    width: 95vw;
  }
}

.swiper-2 > .swiper-wrapper > .swiper-slide {
  display: grid;
  grid-template-columns: 30% 1fr;
  grid-template-rows: 2fr 1fr;
  gap: 20px;

  align-content: end;
  align-items: end;

  grid-template-areas:
    "P N"
    "P A";
}

@media screen and (max-width: 670px) {
  .swiper-2 > .swiper-wrapper > .swiper-slide {
    grid-template-columns: 30% 1fr;
    grid-template-rows: 1fr 4fr;
    align-content: center;
    align-items: center;
    gap: 10px;
  }
}

.swiper-2 > .swiper-wrapper > .swiper-slide > .frame {
  display: block;
  width: calc(var(--widthD) * 0.3);
  height: auto;

  grid-area: P;
}

@media screen and (max-width: 670px) {
  .swiper-2 > .swiper-wrapper > .swiper-slide > .frame {
    width: 100%;
  }
}

.swiper-2 > .swiper-wrapper > .swiper-slide > .frame > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-2 > .swiper-wrapper > .swiper-slide > .character__name {
  font-size: 1.2rem;
  line-height: 2rem;
  font-family: "Jeonju_gakR";

  grid-area: N;
}

@media screen and (max-width: 670px) {
  .swiper-2 > .swiper-wrapper > .swiper-slide > .character__name {
    font-size: 1.6rem;

    align-self: end;
  }
}

.swiper-2 > .swiper-wrapper > .swiper-slide > .character__article {
  font-size: 0.8rem;
  line-height: 1rem;

  grid-area: A;
}

@media screen and (max-width: 670px) {
  .swiper-2 > .swiper-wrapper > .swiper-slide > .character__article {
    padding-right: 10px;

    font-size: 1rem;
    line-height: 1.4rem;
  }
  .swiper-2 > .swiper-wrapper > .swiper-slide > .character__article > br {
    display: none;
  }
}

/* 푸터 */
footer {
  min-width: var(--widthD);
  height: 15vh;

  display: grid;
  align-content: space-evenly;
}

@media screen and (max-width: 670px) {
  footer {
    min-width: 100%;
  }
}

footer > .sns {
  width: var(--widthD);
  height: 30px;
  margin: 0 auto;
  text-align: center;
}

@media screen and (max-width: 670px) {
  footer > .sns {
    width: 100%;
  }
}

footer > .sns > .sns__icon {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-content: center;
  justify-items: center;
  width: 20%;
  height: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 670px) {
  footer > .sns > .sns__icon {
    width: 100%;
    height: 100%;
  }
}

footer > .sns > .sns__icon > a {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 20%;
  background-color: var(--black);
  transition: all 1s;
}

footer > .sns > .sns__icon > a:hover {
  background-color: var(--red);
}

footer > .sns > .sns__icon > a > i {
  font-size: 20px;
  text-align: center;
  line-height: 30px;
}

footer > .sns > .sns__icon > a:hover > i {
  color: var(--black);
}

footer > .policy {
  width: var(--widthD);
  margin: 0 auto;
  text-align: center;
  font-size: 0.8rem;
  line-height: 1rem;
}

footer > .policy > .policy__origin > br {
  display: none;
}
@media screen and (max-width: 670px) {
  footer > .policy > .policy__origin > br {
    display: block;
  }
}
@media screen and (max-width: 670px) {
  footer > .policy {
    width: 100%;
  }
}

footer > .policy > .policy__fan {
  color: var(--Wyellow);
}
